footer {
    flex: 0.01 0 auto;
    padding: 30px;
    background: #141414;
    color: #f1efef;
    bottom: 50%;
    float: left;
    width: 100%;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: white;
}

label {
    color: white;
}

li {
    list-style-type: none;
    font-size: 18px;
    padding: 0.25rem;
}

hr {
    border: none;
    background: white;
    color: white;
    height: 1px;
    width: 1120px;
    font-family: 'Nunito', sans-serif;
}

#post h3, h4 {
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

#footer_content {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer_content a {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

#footer_content a:hover {
    color: #9a9a9a;
}

#img_post {
    height: 200px;
    width: 300px;
    margin-top: 25px;
    max-width: 380px;
    max-height: 260px;
    border-radius: 20px;
}

.image {
    overflow: hidden;
    height: 250px;
    border-radius: 20px;
}

.image img {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.55);
}

.image img:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.55);
}

#post_list {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#post_list h5 {
    padding: 15px;
    margin: auto;
    max-height: 100px;
    height: 100px;
    width: auto;
}

#post_list a {
    color: white;
    outline: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

#post_list h5:hover {
    color: rgba(255, 255, 255, 0.52);
}

#post_list p {
    color: white;
    margin-bottom: 20px;
}

#body_st {
    color: white;
    font-family: 'Nunito', sans-serif;
}

#img_st {
    max-width: 500px;
    max-height: 500px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
}

#img_top {
    height: 40px;
    width: auto;
    max-width: 60px;
    border-radius: 0.4rem;
    margin: 20px 0 20px 0;
    padding: 0;
}

#main-image {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.75);
    /*max-width: 1000px;*/
    width: auto;
    /*max-height: 1000px;*/
    border-radius: 30px;
    -webkit-filter: brightness(40%);
}

#main-news img {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

#main-news img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
}

.main-news {
    position: relative;
    margin: 100px 55px;
}

.main-news a {
    color: white;
}

.block-1 {
    background: #282c34;
    border-radius: 10px;
    padding: 0 20px;
    width: 320px;
    height: 360px;
    text-align: center;
}

.block-1 h3 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 30px 10px;
}

.block-1-1 h5 {
    font-family: 'Nunito', sans-serif;
    text-align: left;
}

.block-1-1 hr {
    width: 320px;
    color: white;
}

.main-news h4 {
    position: absolute;
    text-align: center;
    left: 10%;
    bottom: 60%;
    width: 80%;
    font-family: 'Nunito', sans-serif;
}

.main-news h5 {
    position: absolute;
    text-align: center;
    bottom: 45%;
    left: 15%;
    width: 70%;
    font-family: 'Nunito', sans-serif;
}

.main-news h5:hover {
    color: white;
}

.main-news a {
    text-decoration: none;
}

.title-top-content {
    height: auto;
    padding: 20px 5px;
    text-align: center;
}

.title-top-content p {
    margin-bottom: 0;
}

.records-to-top {
    height: 84px;
    padding-left: 30px;
    padding-right: 30px;
}

.background {
    background: rgba(20, 20, 20, 1);
    background: -moz-linear-gradient(top, rgba(20, 20, 20, 1) 0%, rgba(36, 37, 43, 1) 27%, rgba(36, 37, 43, 1) 81%, rgba(20, 20, 20, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(20, 20, 20, 1) 0%, rgba(36, 37, 43, 1) 27%, rgba(36, 37, 43, 1) 81%, rgba(20, 20, 20, 1) 100%);
    background: -o-linear-gradient(top, rgba(20, 20, 20, 1) 0%, rgba(36, 37, 43, 1) 27%, rgba(36, 37, 43, 1) 81%, rgba(20, 20, 20, 1) 100%);
    background: -ms-linear-gradient(top, rgba(20, 20, 20, 1) 0%, rgba(36, 37, 43, 1) 27%, rgba(36, 37, 43, 1) 81%, rgba(20, 20, 20, 1) 100%);
    background: linear-gradient(to bottom, rgba(20, 20, 20, 1) 0%, rgba(36, 37, 43, 1) 27%, rgba(36, 37, 43, 1) 81%, rgba(20, 20, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#141414', GradientType=0);
    height: auto;
    min-height: 950px;
}

.text-content {
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    padding: 30px;
}

.img-content {
    position: relative;
    padding: 20px;
}

.title-content {
    position: relative;
    padding: 30px;
    text-align: center;
}

.title-content .info-content {
    position: absolute;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    top: 40%;
    margin-top: -0.625em;
}

.info-content a {
    padding: 3px 8px;
    color: white;
    outline: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.info-content a:hover {
    color: white;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    height: 100px;
    opacity: 1;
}

.top-container {
    padding: 35px 30px;
}

.top-content h5 {
    text-align: center;
}

.category {
    padding: 30px 30px;
}

.category-content h5 {
    color: white;
    text-align: left;
    padding: 5px;
    outline: none;
    text-decoration: none;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

.category-content h5:hover {
    color: #7f8992;
}


.category-content a:hover {
    width: 100%;
    outline: none;
    text-decoration: none;
}


.category-content {
    background: #212327;
    border-radius: 20px;
    padding: 10px 20px;
    width: auto;
    height: 450px;
    text-align: center;
    box-shadow: 6px 6px 14px -2px rgba(0, 0, 0, 0.6);
}

.top-content h5 {
    padding-top: 30px;
}

.top-content {
    background: #212327;
    border-radius: 20px;
    width: auto;
    height: 480px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
    font-family: 'Nunito', sans-serif;
}

.button-st a {
    color: rgba(255, 255, 255, 0.52);
    outline: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.button-st a:hover {
    color: white;
    outline: none;
    text-decoration: none;
}

.button-st {
    text-align: center;
    margin: 30px;
}

.title-top-content a {
    width: 100px;
    color: white;
    outline: none;
    text-decoration: none;
}

.title-top-content a:hover {
    color: rgba(255, 255, 255, 0.52);
    outline: none;
    text-decoration: none;
}

#slider {
    padding: 30px;
    height: 520px;
}

#slider h5 {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 45%;
    left: 15%;
    width: 70%;
    font-family: 'Nunito', sans-serif;
}

.img-slider {
    height: 442px;
    width: auto;
    min-width: 400px;
    max-height: 480px;
    min-height: 400px;
    border-radius: 20px;
    -webkit-filter: brightness(40%);
}

#slider h3:hover {
    color: rgba(255, 255, 255, 0.52);
}

.bx-wrapper {
    position: relative;
    margin-bottom: 60px;
    padding: 0;
    -ms-touch-action: pan-y;
    -moz-box-shadow: 0 0 5px #ccc;
}

.category-content.row {
    padding: 10px 5px;
}

.infinite-more-lin {
    color: white;
}

#register {
    margin: 100px auto;
    font-family: 'Nunito', sans-serif;
}

#register button {
    color: white;
}

#register button:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.52);
}

#register h3 {
    margin: 50px auto;
}

#register h3, h6 {
    color: white;
    text-align: center;
}

#register a {
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#register a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.52);
}

#profile a {
    color: rgba(255, 255, 255, 0.52);
    text-decoration: none;
}

#profile a:hover {
    color: white;
    text-decoration: none;
}

#profile h5 {
    color: white;
}

#img_profile {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
}

#user_info {
    font-family: 'Nunito', sans-serif;
    margin: 40px auto;
    padding: 0 20px;
}

#data_of_user {
    margin: 20px auto;
}

#data h5 {
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 255, 255, 0.52);
}

#update {
    color: rgba(255, 255, 255, 0.52);
    text-decoration: none;
}

#register a {
    font-size: 1.25rem;
}

#login a {
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#btn_link {
    font-size: 1.25rem;
    color: white;
    padding: 2px 12px 6px 12px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

#img_block {
    margin: auto;
}

#logo {
    width: 70px;
    height: 80px;
    margin: 10px auto;
}

#logo_name {
    margin: 25px 20px 25px 0;
}

#logo_name h5 {
    color: white;
    font-size: 1.8rem;
    margin: 0 0 0 0;
    font-family: 'Nunito', sans-serif;
}

#logo_name h6 {
    color: rgba(255, 255, 255, 0.52);
    margin: 0 0 0 0;
    font-family: 'Nunito', sans-serif;
}

.infoclass {
    color: white;
    margin: 25px auto;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
}

.nav-item h5 {
    color: white;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 0 0;
}

.navbar-dark {
    color: white;
}

#sales_department {
    margin: 25px 20px;
}
