{% extends 'main.html' %}

{% block main %}

  <div class="container" id="body_st">
    <div class="row">
      <div class="col-6 img-content">
        <img src="{{ object.image.url }}" alt="" id="img_st">
      </div>
      <div class="col-6 title-content">
        <div class="info-content">
          <h4><strong>{{ object.title }}</strong></h4>
          <p>{{ object.publication_date|date:'j E Y • H:i' }}<br><br>
            <a href="#">{{ object.category.name }}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-7 text-content">
          <h5>{{ object.text|safe }}</h5>
        </div>
        <div class="col-5 top-container">
          <div class="top-content">
            <h5>&#128293;<strong>Последние новости</strong></h5>
            {% for post in news %}
              <div class="records-to-top">

                <div class="row">
                  <div class="col-9 title-top-content">
                    <a href="{% url 'news-detail' post.id %}"><p>
                      <strong>{{ post.title|striptags|truncatechars:80 }}</strong></p>
                    </a>
                  </div>
                  <div class="col-3" id="img_block">
                    <img src="{{ post.image.url }}" alt="" id="img_top">
                  </div>
                </div>

              </div>
            {% endfor %}
            <div class="button-st">
              <a href="{% url 'st-home' %}">СМОТРЕТЬ ВСЕ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
