{% extends 'main.html' %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col-8" id="slider">
        <ul class="bxslider text-center">
          {% for item in img_to_slider %}
          <li>
            <img class="img-slider" src="{{ item.image.url }}" />
            <a href="{% url 'news-detail' item.id %}"><h5><strong>{{ item.title|striptags|truncatechars:75 }}</strong></h5></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-4 category">
        <div class="category-content">
          <h4>Категории&#128209;</h4>
          <div class="row">
            <div class="col-10">
              <a href="{% url 'news-technologies' %}"><h5><b>Технологии</b></h5></a>
              <a href="{% url 'news-internet' %}"><h5><b>Интренет</b></h5></a>
              <a href="{% url 'news-russia' %}"><h5><b>Россия</b></h5></a>
              <a href="{% url 'news-ukraine' %}"><h5><b>Украина</b></h5></a>
              <a href="{% url 'news-siriy' %}"><h5><b>Сирия</b></h5></a>
              <a href="{% url 'news-usa' %}"><h5><b>США</b></h5></a>
              <a href="{% url 'news-people' %}"><h5><b>Люди</b></h5></a>
              <a href="{% url 'news-it' %}"><h5><b>IT</b></h5></a>
            </div>
            <div class="col-2">
              {% for key, value in category.items %}
                <h5>{{ value }}</h5>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
      <div id="post_list">
        <div class="row">
          {% for post in news %}
            <div class="col-4" id="post">
              <img id="img" src="{{ post.image.url }}" alt="Изображение поста">
              <a href="{% url 'news-detail' post.id %}"><h5>{{ post.title|striptags|truncatechars:75 }}</h5></a>
              <p>{{ post.publication_date|date:'j E Y в H:i' }}</p>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if news.has_next %}
      <div class="text-center">
        <button class="btn btn-link" type="submit" id="more" name="{{ news.next_page_number }}">Еще</button>
      </div>
      {% endif %}

    </div>

{% endblock %}
